<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Gappa is a bootstrap minimal & clean admin template">
	<meta name="keywords"
		content="chat, chat platform, discussion, video call, voice call, communication, conversation, messange, messanger, talk">
	<meta name="author" content="Themesbox">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<title>e-doto planning</title>
	<!-- Fevicon -->
	<link rel="shortcut icon" href="assets/images/logo de e-doto-retenue.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<!-- Font Awesome -->



	<!-- Start css -->
	<!-- Slick css -->
	<link href="assets/plugins/slick/slick.css" rel="stylesheet">
	<link href="assets/plugins/slick/slick-theme.css" rel="stylesheet">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/icons.css" rel="stylesheet" type="text/css">
	<link href="assets/css/flag-icon.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="scanner.css">
	<!-- End css -->
</head>

<body class="dark-layout">
	<style>
		/* Button used to open the chat form - fixed at the bottom of the page */
		.open-button {
			background-color: rgb(243, 36, 36);
			color: white;
			padding: 16px 20px;
			border: none;
			cursor: pointer;
			opacity: 0.8;
			position: fixed;
			bottom: 23px;
			right: 28px;
			width: 280px;
		}

		/* The popup chat - hidden by default */
		.chat-popup {
			display: none;
			position: fixed;
			bottom: 0;
			right: 12px;
			border: 3px solid #f1f1f1;
			z-index: 9;
		}

		/* Add styles to the form container */
		.form-container {
			max-width: 400px;
			background-color: white;

		}

		/* Full-width textarea */
		.form-container textarea {
			width: 100%;
			padding: 15px;
			margin: 5px 0 22px 0;
			border: none;
			background: #f1f1f1;
			resize: none;
			min-height: 200px;
		}

		/* When the textarea gets focus, do something */
		.form-container textarea:focus {
			background-color: #ddd;
			outline: none;
		}

		/* Set a style for the submit/send button */
		.form-container .btn {
			background-color: #04AA6D;
			color: white;
			
			border: none;
			cursor: pointer;
			width: 16vh;
			height: 5vh;
			margin-bottom: 10px;
			opacity: 0.8;
		}

		/* Add a red background color to the cancel button */
		#cancelchat {
			background-color: red;
		}

		/* Add some hover effects to buttons */
		.form-container .btn:hover,
		.open-button:hover {
			opacity: 1;
		}
		.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
		overflow-x: hidden;
		transition: 0.5s;
		}

		.overlay-content {
		position: relative;
		top: 5%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
		}

		.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
		}

		.overlay a:hover, .overlay a:focus {
		color: #f1f1f1;
		}

		.overlay .closebtn {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 30px;
		}

		@media screen and (max-height: 450px) {
		.overlay a {font-size: 20px}
		.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
		}
		}
		.list-unstyled li {
			margin-bottom: 7vh;
		}
	</style>
	<img src="assets/images/undraw_online_discussion_5wgl.svg" alt="" style="height: 100vh;">
	<button class="open-button" onclick="openForm()">Chat</button>

	<div class="chat-popup" id="myForm">
		<form class="form-container">
			<div class="chat-layout">
				<!-- Start Chat Leftbar -->
				<div class="chat-leftbar">
					<div class="tab-content" id="pills-tab-justifiedContent">
						<!-- Start Chat Listbar -->
						<div class="tab-pane fade show active" id="pills-chat-justified" role="tabpanel"
							aria-labelledby="pills-chat-tab-justified">
							<div class="chat-listbar">
								<div class="chat-left-headbar">
									<div class="row align-items-center">
										<div class="col-5">
											<ul class="list-unstyled mb-0">
												<li class="media" style="font-size:30px;cursor:pointer" onclick="openNav()">
													<img class="align-self-center mr-2" src="assets/images/men1.png"
														alt="Generic placeholder image"
														style="width: 44px; height: 44px; border-radius: 100%;">
													<div class="media-body">
														<h5 class="mb-0 mt-2">Mon profil</h5>
													</div>
												</li>
											</ul>
										</div>

										<div class="col-7">
											<a href="#" id="settingDropdown" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"><img src="assets/images/X.svg"
													alt="Generic placeholder image" style=" margin-left: 30px;"
													onclick="closeForm()"></a>
											<a href="loginHospital.html" data-toggle="tooltip" data-placement="right"
												title="Logout"><i class="fa fa-sign-out"
													style="color: #f82249;"></i></a>
										</div>
									</div>
								</div>
								<div class="chat-left-search">
									<form>
										<div class="input-group">
											<input type="search" class="form-control" placeholder="Search"
												aria-label="Search" aria-describedby="chat-left-search-btn">
											<div class="input-group-append">
												<button class="btn" type="submit" id="chat-left-search-btn"><img
														src="assets/images/search.svg"
														alt="Generic placeholder image"></button>
											</div>
										</div>
									</form>
								</div>
								<div class="chat-left-body" style="padding-bottom: 110px;">
									<div class="nav flex-column nav-pills chat-userlist" id="chat-list-tab"
										role="tablist" aria-orientation="vertical">
										<a class="nav-link active ouvrirchatP" id="chat-first-tab" data-toggle="pill"
											href="#chat-first" role="tab" aria-controls="chat-first"
											aria-selected="true">
											<div class="media active">
												<div class="user-status"></div>
												<img class="align-self-center rounded-circle"
													src="assets/images/girl.svg" alt="User Image">
												<div class="media-body">
													<h5>Emily Cook<span class="chat-timing">02:30 pm</span></h5>
													<p>Waiting for module 1 to finish...</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-second-tab" data-toggle="pill" href="#chat-second"
											role="tab" aria-controls="chat-second" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/boy.svg" alt="User Image">
												<div class="media-body">
													<h5>James Simeron<span class="chat-timing">Today</span></h5>
													<p>Send your CV for more info...</p>
												</div>
											</div>
										</a>
										<!--<a class="nav-link ouvrirchatP" id="chat-third-tab" data-toggle="pill" href="#chat-third"
											role="tab" aria-controls="chat-third" aria-selected="false">
											<div class="media">
												<div class="user-status status-offline"></div>
												<img class="align-self-center rounded-circle"
													src="assets/images/men.svg" alt="User Image">
												<div class="media-body">
													<h5 id="notif">Lauren Gotlib<span
															class="badge badge-primary ml-2">5</span><span
															class="chat-timing">Oct 08</span></h5>
													<p>Hi</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-fourth-tab" data-toggle="pill" href="#chat-fourth"
											role="tab" aria-controls="chat-fourth" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/women.svg" alt="User Image">
												<div class="media-body">
													<h5>Nebraska Oshivo<span class="chat-timing">Sep 25</span></h5>
													<p>Could you please send PDF?</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-fifth-tab" data-toggle="pill" href="#chat-fifth"
											role="tab" aria-controls="chat-fifth" aria-selected="false">
											<div class="media">
												<div class="user-status status-away"></div>
												<img class="align-self-center rounded-circle"
													src="assets/images/girl.svg" alt="User Image">
												<div class="media-body">
													<h5>Noir Ajkeban<span class="badge badge-primary ml-2">8</span>
														<span class="chat-timing">Sep 10</span></h5>
													<p>See you at the Lunch...</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-sixth-tab" data-toggle="pill" href="#chat-sixth"
											role="tab" aria-controls="chat-sixth" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/boy.svg" alt="User Image">
												<div class="media-body">
													<h5>Will Patinson<span class="chat-timing">Sep 08</span></h5>
													<p>Where have you been?</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-seventh-tab" data-toggle="pill"
											href="#chat-seventh" role="tab" aria-controls="chat-seventh"
											aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/girl.svg" alt="User Image">
												<div class="media-body">
													<h5>Simran Kaur<span class="badge badge-primary ml-2">3</span> <span
															class="chat-timing">Sep 07</span></h5>
													<p>I sent app proposal to you.</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-eighth-tab" data-toggle="pill" href="#chat-eighth"
											role="tab" aria-controls="chat-eighth" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/women.svg" alt="User Image">
												<div class="media-body">
													<h5>Courtney Cox<span class="chat-timing">Sep 05</span></h5>
													<p>Please, revert on issues.</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-ninth-tab" data-toggle="pill" href="#chat-ninth"
											role="tab" aria-controls="chat-ninth" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/men.svg" alt="User Image">
												<div class="media-body">
													<h5>Andrew Garfield<span class="chat-timing">Aug 25</span></h5>
													<p>Your presence is awaited...</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-tenth-tab" data-toggle="pill" href="#chat-tenth"
											role="tab" aria-controls="chat-tenth" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/girl.svg" alt="User Image">
												<div class="media-body">
													<h5>Rose Witherspoon<span class="chat-timing">Aug 18</span></h5>
													<p>Fanfest is coming...</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-eleventh-tab" data-toggle="pill"
											href="#chat-eleventh" role="tab" aria-controls="chat-eleventh"
											aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/women.svg" alt="User Image">
												<div class="media-body">
													<h5>Seema Roy<span class="chat-timing">Aug 11</span></h5>
													<p>Bye. Tc...</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-twelth-tab" data-toggle="pill" href="#chat-twelth"
											role="tab" aria-controls="chat-twelth" aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/boy.svg" alt="User Image">
												<div class="media-body">
													<h5>Anand Kumar<span class="badge badge-primary ml-2">2</span> <span
															class="chat-timing">Aug 03</span></h5>
													<p>I see</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-thirteenth-tab" data-toggle="pill"
											href="#chat-thirteenth" role="tab" aria-controls="chat-thirteenth"
											aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/men.svg" alt="User Image">
												<div class="media-body">
													<h5>Vladimir Jeir<span class="chat-timing">Jul 28</span></h5>
													<p>When are you coming home?</p>
												</div>
											</div>
										</a>
										<a class="nav-link ouvrirchatP" id="chat-fourtinth-tab" data-toggle="pill"
											href="#chat-fourtinth" role="tab" aria-controls="chat-fourtinth"
											aria-selected="false">
											<div class="media">
												<img class="align-self-center rounded-circle"
													src="assets/images/girl.svg" alt="User Image">
												<div class="media-body">
													<h5>Jessica Meir<span class="chat-timing">Jul 21</span></h5>
													<p>Hmmmmm</p>
												</div>
											</div>
										</a>-->
									</div>
								</div>
							</div>
						</div>
						<!-- End Chat Listbar -->
					</div>
				</div>
				<div id="myNav" class="overlay">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<div class="overlay-content">
						<div class="chat-left-body">
							<div class="">
								<img class="profile-pic img-fluid" src="assets/images/men.svg" alt="profile-pic" id="MyProFilSrcimg">
								<img src="assets/images/pencil-square.svg" alt="" id="CreateYouProfile" data-toggle="modal" data-target="#exampleModalCreate">
								<div class="profile-edit">
									<img src="assets/images/camera.svg" alt="Generic placeholder image"
										class=" upload-button">
									<input class="profile-upload" type="file" accept="image/*"/>
								</div>

								<h5 id="userNNmmae"></h5>
							</div>
							<div class="profile-detail" style="padding-bottom: 60px; margin-left: 30vh; margin-right: 30vh;">
								<ul class="list-unstyled mb-0">
									<li class="media">
										<div class="media-body">
											<div class="input-group">
												<input type="text" class="form-control" value="SODINYESSI"
													aria-label="SODINYESSI"
													aria-describedby="button-addon-group-username">
												<div class="input-group-append">
													<button class="btn btn-link" type="button"
														id="button-addon-group-username">Nom</button>
													<!------>
												</div>
											</div>
										</div>
										<style>
											#MyProFilSrcimg{
												width: 20vh !important;
												height: 20vh !important;
												border-radius: 100% !important;
											}
											#CreateYouProfile{
												position: absolute !important;
												left: 43vh !important;
												cursor: pointer;
												
											}
										</style>
									</li>
									<li class="media">
										<img src="assets/images/user.svg" alt="Generic placeholder image"
											class=" align-self-center mr-3">
										<div class="media-body">
											<div class="input-group">
												<input type="text" class="form-control" value="Sènou Gérard"
													aria-label="Sènou-Gérard"
													aria-describedby="button-addon-group-username">
												<div class="input-group-append">
													<button class="btn btn-link" type="button"
														id="button-addon-group-username">Prénoms</button>
													<!------>
												</div>
											</div>
										</div>
									</li>
									<li class="media">
										<img src="assets/images/map.svg" alt="Generic placeholder image"
											class=" align-self-center mr-3">
										<div class="media-body">
											<div class="input-group">
												<input type="text" class="form-control" value="Cotnou, Bénin"
													aria-label="Cotnou, Bénin"
													aria-describedby="button-addon-group-location">
												<div class="input-group-append">
													<button class="btn btn-link" type="button"
														id="button-addon-group-location">Location</button>
												</div>
											</div>
										</div>
									</li>
									<li class="media">
										<img src="assets/images/message-square.svg" alt="Generic placeholder image"
											class=" align-self-center mr-3">
										<div class="media-body">
									
											<div class="input-group">
												<input type="text" class="form-control" value="Je suis developpeur"
													aria-label="Je suis developpeur"
													aria-describedby="button-addon-group-status">
												<div class="input-group-append">
													<button class="btn btn-link" type="button"
														id="button-addon-group-status">Status</button>
												</div>
											</div>
										</div>
									</li>
									<li class="media">
										<img src="assets/images/email.svg" alt="Generic placeholder image"
											class=" align-self-center mr-3">
										<div class="media-body">
											
											<div class="input-group">
												<input type="email" class="form-control"
													value="sodinyessigerard@gmail.com"
													aria-label="sodinyessigerard@gmail.com"
													aria-describedby="button-addon-group-emailid">
												<div class="input-group-append">
													<button class="btn btn-link" type="button"
														id="button-addon-group-emailid">Email</button>
												</div>
											</div>
										</div>
									</li>
									<li class="media">
										<img src="assets/images/lock.svg" alt="Generic placeholder image"
											class=" align-self-center mr-3">
										<div class="media-body">
											
											<div class="input-group">
												<input type="password" class="form-control" value="********"
													aria-label="********"
													aria-describedby="button-addon-group-password">
												<div class="input-group-append">
													<button class="btn btn-link" type="button"
														id="button-addon-group-password">Password</button>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				  </div>
				  <script>
				  function openNav() {
					document.getElementById("myNav").style.width = "100%";
				  }
				  
				  function closeNav() {
					document.getElementById("myNav").style.width = "0%";
				  }
				  </script>
				<!-- End Chat Leftbar -->
			</div>
		</form>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="media">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<img class="align-self-center rounded-circle" src="assets/images/boy.svg"
									alt="User Image">
							</div>
							<div class="col-lg-9 col-md-8">
								<h5>SODINYESSI Sènou</h5>
							</div>
							<div onclick="dispaMdol()" style="cursor: pointer;">
								<img src="assets/images/X.svg" alt="" id="Xsvg">
							</div>
						</div>
					</div>
				</div>
				<style>
					#Xsvg{
						position: absolute;
						right: 23px;
						height: 20px;
						width: 20px;
					}
				</style>
				<div class="modal-body">
					<div class="chat-detail" id="chat-detaila">
						<div class="chat-body" style="height: 65vh;">
							<div class="tab-content" id="chat-listContent">
								<div class="tab-pane fade show active" id="chat-first" role="tabpanel"
									aria-labelledby="chat-first-tab">
									
								</div>
								<div class="tab-pane fade" id="chat-second" role="tabpanel"
									aria-labelledby="chat-second-tab">
									<div class="empty-screen">
										<img src="assets/images/empty-logo.png" class="img-fluid" alt="empty-logo">
										<h4 class="my-3">No Conversation Yet.</h4>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="chat-messagebar" style="margin-top: 7px; margin-bottom: 10px;">
						<form>
							<div class="input-group">
								<div class="input-group-prepend">
								</div>
								<p type="text" class="form-control"
									aria-label="Text" style="border-radius: 30px;"></p>
								<div class="input-group-append">
									<ul class="list-inline float-right mb-0">
										<li class="list-inline-item">
											<div class="dropdown">
												<a href="#" class="mr-3" id="button-addonlink" class=""
													id="chatDropdown" data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false"><img src="assets/images/paperclique.svg"
														alt="Generic placeholder image" style="padding-top: 12px;"></a>
												<div class="dropdown-menu dropdown-menu-right"
													aria-labelledby="chatDropdown">
													<a class="dropdown-item font-14" href="#"
														onclick="openForm()">Envoyer l'rdonnance</a>
													<a class="dropdown-item font-14" href="#">Upload a file</a>
												</div>
											</div>
										</li>
									</ul>
									<a href="#" id="button-addonsend"><img src="assets/images/send.svg"
											alt="Generic placeholder image" style="margin-right: 10px;"></a>
								</div>
							</div>
						</form>
					</div>-->
				</div>
			</div>
		</div>
	</div>

	<script>
		function openForm() {
			document.getElementById("myForm").style.display = "block";
		}

		function closeForm() {
			document.getElementById("myForm").style.display = "none";
		}

		var ouvrirchatP = document.querySelectorAll('.ouvrirchatP');
		ouvrirchatP.forEach((p)=>{
			p.addEventListener('click', function(){
				$('#exampleModalCenter').modal({
				show: true,
				backdrop: 'static',
				keyboard: false
			})
			})
		})
		{/*function okokokok() {
			$('#exampleModalCenter').modal({
				show: true,
				backdrop: 'static',
				keyboard: false
			})
		}*/}

		function dispaMdol() {
			$('#exampleModalCenter').modal('hide')
		}
	</script>
	<script src="serveurs/serveur.jS"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/modernizr.min.js"></script>
	<script src="assets/js/detect.js"></script>
	<script src="assets/js/jquery.slimscroll.js"></script>
	<script src="assets/js/vertical-menu.js"></script>
	<!-- Slick js -->
	<script src="assets/plugins/slick/slick.min.js"></script>
	<!-- Core js -->
	<script src="assets/js/core.js"></script>
	<script src="todo.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

	<!-- MDB -->
	<script>
		AOS.init();
	</script>

	<!-- End js -->
</body>

</html>