<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html>
      <head> </head>

      <body style="background-color: rgb(101, 185, 17)">
        <ul id="authors"></ul>
        <script>
          function createNode(element) {
            return document.createElement(element);
          }

          function append(parent, el) {
            return parent.appendChild(el);
          }

          const ul = document.getElementById("authors");
          const url = "http://15.236.38.193:8000/api/auth/medecin/";

          fetch(url)
            .then((resp) => resp.json())
            .then(function (data) {
              let authors = data.results;
              return authors.map(function (author) {
                let li = createNode("li");
                li.classList.add("mystyle");
                let span = createNode("span");
                span.innerHTML = `${author.email}
                <div class="container" style="margin-top: 5vh">
							<div class="row">
							  <div class="col-lg-12" style="margin-bottom: 5vh" data-aos="zoom-in">
								<div class="wrapper">
								  <div class="card text-center">
									<div class="image">
									  <img src="assets/images/lesLogosCentre.png" width="300" />
									</div>
					  
									<div class="about-product text-center">
									  <h5 style="margin-top: 34vh">${author.username}</h5>
									  <button class="btn btn-success buy-now">Acheter</button>
									  <button class="btn btn-success consult-now">Consutez</button>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						</div>
                
                `;
                append(li, span);
                append(ul, li);
                var ili = document.querySelectorAll("mystyle");
                ili.forEach((xp) => {
                  xp.addEventListener("click", function () {
                    console.log("ok je dois voir ça !");
                  });
                });
              });
            })
            .catch(function (error) {
              console.log(error);
            });
          {
            /*const xhr = new XMLHttpRequest();
          xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              const res = JSON.parse(xhr.responseText);
              const values = Object.values(res);
              const last = values[values.length - 1];
              //console.log(last);
              let list = document.getElementById("myList");
              last.forEach((item) => {
                let li = document.createElement("li");
                list.appendChild(li);
                var arr = Object.entries(item);

                var use = arr[1];
                //console.log(use);
                const last1 = use[use.length - 1];
                console.log(last1);
                li.innerText = last1;
                last1.forEach((r) => {
                  console.log(r);
                });
              });
              for (var i = 0; i < last.length; i++) {
                const valuesp = Object.values(last[i]);
              }
            }
          };
          xhr.open("GET", "http://15.236.38.193:8000/api/auth/medecin/", true);
          xhr.setRequestHeader("Accept", "application/json");
          xhr.send(null);

          fetch("http://15.236.38.193:8000/api/auth/medecin/", {
            method: "GET",
            headers: {
              Accept: "application/json",
              "Content-type": "application/json",
            },
          }).then(function (response) {
            if (response.ok) {
              var responseUserHospital = response.json();
              console.log(responseUserHospital);
            }
          });*/
          }
        </script>
      </body>
    </html>
  </body>
</html>
